@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.woff2")  format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff2")  format("woff2");
    font-display: swap;
}

html {
    height: 100%;
    background: #e5e5e5;
    background-size: cover;
}

body {
    min-height: 100%;
    min-width: 1280px;
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    background-color: #f2f2f2;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}

.page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    background-size: cover;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 1060px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* !navigation */
.main-header {
    position: relative;
}

.navigation-logo {
    position: absolute;
    margin-left: 70px;
    width: 140px;
    height: 75px;
    z-index: 1;
}

.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.navigation-list {
    margin: 0;
    padding-left: 238px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 450px;
    list-style-type: none;
}

.navigation-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    text-transform: capitalize;
    padding: 20px 16px;
}

.navigation-link-click{
    cursor: pointer;
}

.navigation-link-click:hover,
.navigation-link-click:focus {
    color: #756157;
}

.navigation-link-click:active {
    color: rgba(117, 97, 87, 0.3);
}

.navigation-item:last-child {
    padding-right: 0;
}

.navigation-link-current {
    position: relative;
}

.navigation-link-current::after {
    position: absolute;
    content: "";
    background-color: #756257;
    height: 2px;
    right: 16px;
    left: 16px;
    top: 63px;
    z-index: 1;
}

.navigation-user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: flex-end;
            -ms-flex-pack: flex-end;
                    justify-content: flex-end;
    padding-left: 0;
    min-width: 312px;
    padding-right: 70px;
    list-style-type: none;
}

.navigation-link-search,
.navigation-link-favourite {
    padding: 0;
    display: block;
    position: relative;
    min-width: 44px;
    min-height: 64px;
    list-style-type: none;
}

.navigation-link-search:hover svg,
.navigation-link-favourite:hover svg,
.navigation-link-search:focus svg,
.navigation-link-favourite:focus svg  {
    fill: #756157;
    transform:scale(2);
}

.navigation-link-search:active svg,
.navigation-link-favourite:active svg {
    fill: rgba(117, 97, 87, 0.3);
}

.quantify-in-favourites {
    position: absolute;
    content: "";
    padding: 5px 5px 5px 4px;
    top: 11px;
    left: 20px;
    line-height: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    border-radius: 50%;
    background-color: #7db54f;
}

.favourite-icon,
.search-icon {
    position: absolute;
    padding: 23px 13px;
    cursor: pointer;
    fill: #000;
}

.want-to-that-place {
    width: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 8px 34px;
    background-color: #756157;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.want-to-that-place:hover,
.want-to-that-place:focus {
    background-color: #756257;
}

.want-to-that-place:active {
    background-color: rgba(117,98,87, 0.5);
    color: rgba(242, 242, 242, 0.3);
}

.want-to-that-place:disabled {
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 4px;
}

/* !hero-блок */
.main-hero {
    margin: 0;
    padding: 0;
}

.banner {
    height: 485px;
    background-image: url("../images/main-part-background.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner-text {
    padding-top: 51px;
    padding-left: 371px;
}

.banner::after {
    content: url("../images/svg/corners-for-main-background.svg");
    position: absolute;
    height: 57px;
    top: 429px;
    left: 0;
    margin-bottom: 0;
}

.hero-description {
    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 65px;
    text-align: center;
}

.description-sedona {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto 25px;
}

.description-reason-to-visit {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 25px;
    padding: 0;
}

/* !advanture-blocks */
.advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
    width: 400px;
    margin: 0;
    padding: 0;
}

.advanture-wrapper1 {
    padding: 92px 85px 111px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.advanture-wrapper2 {
    padding: 103px 84px 121px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.advantages-picture {
    width: 800px;
}

.sedona_city,
.showlace {
    display: block;
    width: 800px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.advantages-title {
    min-width: 175px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto 62px;
    position: relative;
}

.advantages-title::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 60px;
    height: 2px;
    right: 57.5px;
    left: 57.5px;
    top: calc(100% + 30px);
    display: block;
    margin: auto;
}

.blue-title {
    position: relative;
}

.blue-title::before {
    position: absolute;
    display: block;
    content: "";
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 60px;
    height: 2px;
    right: 57.5px;
    left: 57.5px;
    top: calc(100% + 30px);
    margin: auto;
}

.advantages-desctiption {
    font-weight: 400;
    min-height: 42px;
    margin: 0;
    padding: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

.color {
    color: #333;
}

/* !recomendation-blocks */
.recommendation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.recommendation-item {
    width: 400px;
    min-height: 384px;
    margin: 0;
    padding: 0;
}

.recommendation-wrapper {
    padding: 182px 85px 81px;
}

.recommendation-title {
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.recommendation-title-hotel {
    position: relative;
}

.recommendation-title-hotel::after {
    position: absolute;
    display: block;
    content: "";
    min-width: 75px;
    min-height: 72px;
    background-image: url("../images/svg/recomendation-house.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 35%;
    bottom: calc(100% + 30px);
}

.recommendation-title-food {
    position: relative;
}

.recommendation-title-food::after {
    position: absolute;
    display: block;
    content: "";
    min-width: 74px;
    min-height: 70px;
    background-image: url("../images/svg/food.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 78px;
    bottom: calc(100% + 30px);
}

.recommendation-desctiption {
    text-align: center;
    font-weight: 400;
    color: #333;
    margin: 0;
    padding: 0;
}

.recommendation-title-souvenir {
    position: relative;
}

.recommendation-title-souvenir::after {
    position: absolute;
    display: block;
    content: "";
    min-width: 64px;
    min-height: 76px;
    background-image: url("../images/svg/gift.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    left: 83px;
    bottom: calc(100% + 30px);
}

.blue {
    background: #82b3d3 no-repeat;
    color: #fff;
}

.light-blue {
    background: rgba(131, 179, 211, 0.12) no-repeat;
}

.not-so-blue {
    background: rgba(131, 179, 211, 0.2) no-repeat;
}

/* !----- subscribe, search------ */
.search {
    width: 1200px;
}

.search-wrapper {
    min-width: 592px;
    padding: 96px 304px 42px;
    margin: 0;
    text-align: center;
}

.searching-hotel {
    margin: 0 auto 20px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}

.searching-hotel-offer {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 54px;
    color: #333;
}

.button-search {
    width: 376px;
    min-height: 52px;
    background-color: #756157;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    margin-bottom: 54px;
    display: inline-block;
}

.button-for-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.button-search:hover {
    background-color: #615048;
    border-radius: 4px;
}

.button-for-search:focus {
    background-color: #615048;
    border-radius: 4px;
}

.button-for-search:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.button-search:disabled {
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 4px;
}

.subscribe-main,
.subscribe-inner {
    width: 1200px;
    text-align: center;
}

.subscribe-main {
    background-image: url("../images/background-subscribe.jpg");
    border-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe-wrapper {
    min-width: 684px;
    margin: 0;
    padding: 96px 258px 50px;
}

.subscribe-title {
    margin: 0 auto 20px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
}

.subscribe-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 54px;
    color: #fff;
}

.black,
.color-black {
    color: #000;
}

.subscribe-form {
    min-width: 684px;
    padding: 0;
    margin-bottom: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
}

.subscribe-email {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font: inherit;
    min-width: 452px;
    min-height: 52px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 14px 20px;
    border: 0;
}

.subscribe-email:focus {
    outline: none;
}

.subscribe-email:focus-visible {
    outline: 2px solid #68a2ca;
}

.subscribe-button {
    font-family: "PT Sans", Arial, sans-serif;
    width: 232px;
    min-height: 52px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #82b3d3;
    border-radius: 0 4px 4px 0;
    margin: 0;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: none;
}

.subscribe-email::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.6;
}

.subscribe-email::-moz-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.6;
}

.subscribe-email:-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.6;
}

.subscribe-email::-ms-input-placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.6;
}

.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    opacity: 0.6;
}

.subscribe-button:hover,
.subscribe-button:focus {
    background: #68a2ca;
    border-radius: 4px;
}

.subscribe-button:active {
    background: #82b3d3;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 4px;
}

/* !-----footer----- */
.contacts {
    width: 1200px;
    min-height: 120px;
}

.info-connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1060px;
    min-height: 40px;
    padding: 45px 70px 35px;
}

.social-list,
.phone-list,
.info-website {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-list {
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 138.5px;
}

.footer-button-vk,
.footer-button-tg,
.footer-button-youtube {
    display: block;
    width: 47.33px;
    height: 40px;
    position: relative;
}

.vk,
.tg,
.youtube {
    position: absolute;
    content: "";
    fill: #83b3d3;
    top: 5px;
    left: 13px;
    bottom: 0;
}

.footer-button-vk:hover svg,
.footer-button-tg:hover svg,
.footer-button-youtube:hover svg {
    fill: #68a2ca;
}

.footer-button-vk:focus svg,
.footer-button-tg:focus svg,
.footer-button-youtube:focus svg {
    fill: #68a2ca;
}

.footer-button-vk:active svg,
.footer-button-tg:active svg,
.footer-button-youtube:active svg {
    fill: rgba(104, 162, 202, 0.3);
}

.phone-list {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 115.5px;
}

.phone-number {
    display: block;
    width: 331px;
    min-height: 40px;
    margin-bottom: 15px;
    padding: 0;
    position: relative;
}

.number {
    min-height: 40px;
    fill: #000;
    position: absolute;
    content: "";
    top: 6px;
    left: 2px;
}

.phone-number:hover svg {
    fill: #756157;
}

.phone-number:focus svg {
    fill: #756157;
}

.phone-number:active svg {
    fill: rgba(117, 97, 87, 0.3);
}

.website-list {
    width: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-logotype {
    display: block;
    min-width: 115px;
    min-height: 33px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    position: relative;
}

.website {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    fill: #000;
}

.footer-logotype:hover svg {
    fill: #756157;
}

.footer-logotype:focus svg {
    fill: #756157;
}

.footer-logotype:active svg {
    fill: rgba(117, 97, 87, 0.3);
}

/*!             breadcrumbs                   */
.filter {
    color: #fff;
    background: url("../images/background-filter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aquamarine;
    margin: 0;
    padding: 35px 70px 70px;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs-title {
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-list {
    min-width: 73px;
    min-height: 21px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 40px;
    list-style-type: none;
    height: 21px;
}

.main-page-link {
    display: block;
    min-width: 13px;
    min-height: 13px;
    margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 28.5px;
}

.house {
    fill: #fff;
    stroke: #fff;
}

.breadcrumbs-item-hotel {
    min-width: 73px;
    position: relative;
    margin-right: 28.5px;
}

.breadcrumbs-item-hotel::after {
    position: absolute;
    content: "";
    width: 6.39px;
    height: 10px;
    background-image: url("../images/svg/arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 5px;
    left: calc(100% - 90px);
}

.breadcrumbs-current-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.main-page-link:hover svg,
.breadcrumbs-current-page:hover {
    color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);
    stroke: rgba(255, 255, 255, 0.6);
}

.main-page-link:focus svg {
    outline: 2px solid  #83b3b3;
}

.main-page-link:active svg {
    fill: rgba(255, 255, 255, 0.3);
    stroke: rgba(255, 255, 255, 0.3);
}

/* !       filter         */
.filter-hotel {
    margin-bottom: 0;
}

.catalog-filter {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 150.43px 70px 150.43px 140.15px 288px 70px 191px;
    grid-template-columns: 150.43px 70px 150.43px 140.15px 288px 70px 191px;
    row-gap: 30px;
}

.catalog-filter-facilities {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

.catalog-filter-house {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
}

.filter-price-hotel {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
}

.filter-button-hotel {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7/8;
}

.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    border: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-title {
    min-width: 150.43px;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 32px;
    text-transform: capitalize;
}

.label-checkbox,
.label-radio {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    padding-left: 36px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
    position: absolute;
    content: "";
    width: 12.2px;
    height: 9.9px;
    background-image: url("../images/svg/tick.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 7px;
    left: 4px;
}

.control-input[type="checkbox"]:hover ~ .control-mark,
.control-input[type="radio"]:hover ~ .control-mark {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:hover ~ .control-label,
.control-input[type="radio"]:hover ~ .control-label {
    color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
    outline: none;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
    outline: 3px solid #83b3b3;
}

.control-input[type="radio"]:focus + .control-mark {
    outline: none;
}

.control-input[type="radio"]:focus-visible + .control-mark {
    outline: 3px solid #83b3b3;
}

.control-input[type="checkbox"]:active ~ .control-mark,
.control-input[type="radio"]:active ~ .control-mark {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active ~ .control-label,
.control-input[type="radio"]:active ~ .control-label {
    color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
}

.control-mark-radio {
    border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3f5e72;
    border-radius: 50%;
    content: "";
}

.price-filter-and-button {
    margin: 0;
    padding: 0;
    min-width: 549px;
}

.priceholder-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: top;
    margin-bottom: 46px;
}

.priceholder {
    width: 143px;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px 50px 12px 20px;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.priceholder-from {
    border-radius: 4px 0 0 4px;
}

.priceholder-to {
    border-radius: 0 4px 4px 0;
}

.priceholder::-webkit-input-placeholder {
    color: #000;
}

.priceholder::-moz-placeholder {
    color: #000;
}

.priceholder:-ms-input-placeholder {
    color: #000;
}

.priceholder::-ms-input-placeholder {
    color: #000;
}

.priceholder::placeholder {
    color: #000;
}

.priceholder:hover {
    background-color: #e6e6e6;
}

.priceholder:focus {
    outline: none;
}

.priceholder:focus-visible {
    outline: 3px solid #83b3b3;
    background-color: #e6e6e6;
    padding: 9px 47px 9px 17px;
}

.priceholder:active {
    outline: none;
    border: 2px solid #000;
    padding: 10px 48px 10px 18px;
    background-color: #f2f2f2;
}

.priceholder-wrapper::before {
    position: absolute;
    content: "от";
    top: 12px;
    left: 106px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.priceholder-wrapper::after {
    position: absolute;
    content: "до";
    top: 12px;
    left: 248px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #fff;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.range-toggle:hover {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    outline: none;
}

.range-toggle:focus-visible {
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    outline: 3px solid #83b3d3;
}

.range-toggle:active {
    -webkit-box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
            box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid #83b3d3;
}

.toggle-min {
    top: -8px;
    left: -10px;
}

.toggle-max {
    top: -8px;
    right: -12px;
}

.filter-button {
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.filter-button-title {
    margin: 0;
    padding: 0;
}

.apply,
.reset {
    font-family: "PT Sans", Arial, sans-serif;
    min-height: 36px;
    min-width: 191px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 8px 50px;
    cursor: pointer;
}

.apply {
    background: #82b3d3;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 57px 0 30px;
    text-transform: uppercase;
    border: none;
}

.apply:hover {
    background: #68a2ca;
}

.apply:focus {
    background: #68a2ca;
    outline: 2px solid #82b3d3;
}

.apply:active {
    background: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.apply:disabled {
    background: #e5e5e5;
    color: #fff;
}

.reset {
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    border: 0;
}

.reset:hover {
    color: #fff;
    opacity: 0.5;
}

.reset:focus {
    border-radius: 8px;
    outline: 2px #82b3d3 solid;
}

.reset:active {
    color: rgba(255, 255, 255, 0.3);
}

.reset:disabled {
    color: #fff;
    opacity: 0.1;
}

/* !         arrange-cards            */
.arrange-cards {
    padding: 50px 70px 32px;
    min-height: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.amount-hotel {
    width: 338px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.total-number {
    margin: 0;
}

.price-control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    min-width: 292px;
    margin-left: 200px;
    outline: none;
}

.price-view {
    position: absolute;
    width: 100%;
    height: 49px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 12px 48px 12px 18px;
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #e5e5e5;
    background-image: url("../images/svg/arrow-for-select.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    cursor: pointer;
}

.price-view:hover {
    border: 2px #82b3d3 solid;
    outline: none;
}

.price-view:focus {
    outline: none;
}

.price-view:focus-visible {
    padding: 13px 49px 13px 19px;
    outline: 1px #82b3b3 solid;
}

.price-view:active {
    border: 1px solid #000;
    outline: none;
}

.price-view:disabled {
    color: rgba(0, 0, 0, 0.3);
    outline: 1px rgba(0, 0, 0, 0.3) solid;
}

.sorting-list {
    width: 160px;
    min-height: 48px;
    margin: 0 0 0 70px;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
}

.list-order {
    min-height: 48px;
    margin-bottom: 10px;
}

.list-order:not(:nth-child(3)) {
    margin-right: 8px;
}

.order-link {
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 48px;
    height: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.chessboard,
.one-card,
.single-column {
    fill: #000;
}

.order-link:hover,
.order-link:active {
    border: 1px #000 solid;
}

.order-link:focus {
    outline: none;
}

.order-link:focus-visible {
    outline: 1px  solid #82b3d3;
}

/* !             hotel cards                  */
.cards {
    padding: 0 70px 40px;
}

.hotel-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 340px 20px 340px 20px 340px;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hotel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.hotel-image {
    display: block;
    margin: 18px 20px 16px;
    -o-object-fit: cover;
        object-fit: cover;
}

.hotel-image:focus {
    outline: 2px solid #82b3d3;
}

.hotel-name {
    margin: 0 20px 16px;
}

.hotel-name-link {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-decoration: none;
}

.hotel-price {
    margin: 0 20px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotel-place,
.hotel-place-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333;
}

.more-information {
    margin: 0 20px 16px;
    min-height: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.button-more-infotmation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "PT Sans", Arial, sans-serif;
    width: 140px;
    height: 100%;
    padding: 8px 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #756157;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-more-infotmation:hover {
    background-color: #615048;
    border-radius: 4px;
}

.button-more-infotmation:focus {
    background-color: #615048;
    border-radius: 4px;
}

.button-more-infotmation:active {
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.add {
    display: block;
    font-family: "PT Sans", Arial, sans-serif;
    width: 140px;
    height: 100%;
    padding: 8px 20px;
    letter-spacing: -0.5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #82b3d3;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.green-button {
    background-color: #7db54f;
    padding: 8px 18px;
}

.add:hover {
    background: #68a2ca;
}

.add:focus {
    background: #68a2ca;
}

.add:active {
    background: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.add:disabled {
    background: #e5e5e5;
    color: #fff;
}

.green-button:hover,
.green-button:focus {
    background: #6c9e42;
}

.green-button:active {
    background: #7db54f;
    color: rgba(255, 255, 255, 0.3);
}

.green-button:disabled {
    background: #e5e5e5;
    color: #fff;
}

.hotels-rating {
    margin: 0 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.hotels-rating-stars {
    width: 140px;
    position: relative;
}

.stars {
    position: absolute;
    content: "";
    height: 17px;
    background: url("../images/svg/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    top: -10px;
    left: -1px;
}

.stars-hotel1 {
    width: 89px;
}

.stars-hotel2 {
    width: 89px;
}

.stars-hotel3 {
    width: 65px;
}

.stars-hotel4 {
    width: 40px;
}

.point-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 140px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #f2f2f2;
    padding: 9px 22px 8px 23px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333;
    border: none;
}

/* !---------pagination----------- */
.pagination {
    padding: 38px 70px 50px;
}

.pagination-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    position: relative;
}

.pagination-list::after {
    position: absolute;
    content: "";
    background-color: #e6e6e6;
    height: 1px;
    top: -40px;
    right: 0;
    left: 0;
}

.pagination-item {
    margin-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.first-page {
    background-color: #f2f2f2;
    color: #000;
    border-radius: 4px;
}

.next-page {
    background-color: #82b3d3;
    border-radius: 4px;
}

.pagination-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 60px;
    min-height: 60px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.current-page,
.list-pages {
    color: #000;
}

.unknown {
    margin-top: auto;
}

.link:hover,
.link:focus {
    background-color: #68a2ca;
    outline: 1px #82b3d3 solid;
}

.link:active {
    background: #82b3d3;
    color: rgba(255, 255, 255, 0.3);
}

.list-pages:hover,
.list-pages:focus {
    outline: 1px #82b3d3 solid;
}

.list-pages:active {
    outline: 1px #82b3d3 solid;
    background-color: rgba(242, 242, 242, 0.1);
}

.current-page:hover,
.current-page:focus {
    outline: 1px #82b3d3 solid;
}

.current-page:active {
    outline: 1px #82b3d3 solid;
    background-color: #fff;
}

/* !        modal and  tooltip             */
.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(242, 242, 242, 0.8);
    z-index: 2;
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-auth {
    width: 717px;
    border-radius: 30px;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 64px;
    right: 52px;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.close-button {
    fill: #000;
    margin: auto;
}

.modal-close-button:hover svg,
.modal-close-button:focus svg {
    background-color: #e6e6e6;
}

.modal-close-button:active svg {
    fill: rgba(0, 0, 0, 0.3);
    background-color: #e6e6e6;
}

.modal-close-button:active {
    background-color: #e6e6e6;
}

.modal-content {
    padding: 64px 70px 49px;
}

.modal-title {
    margin: 0;
    padding: 0;
    margin-bottom: 64px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.field-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.field-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 137px 440px;
    grid-template-columns: 137px 440px;
    position: relative;
}

.arrival-date,
.departure-date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: capitalize;
    position: relative;
}

.arrival-date-field,
.departure-date-field {
    grid-column: 2/-1;
    padding: 12px 20px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.arrival-date-field:active,
.departure-date-field:active {
    outline: none;
    border: 2px solid #000;
    padding: 10px 18px;
}

.arrival-date-field::-webkit-input-placeholder,
.departure-date-field::-webkit-input-placeholder {
    font: inherit;
    color: rgba(0, 0, 0, 0.6);
}

.arrival-date-field::-moz-placeholder,
.departure-date-field::-moz-placeholder {
    font: inherit;
    color: rgba(0, 0, 0, 0.6);
}

.arrival-date-field:-ms-input-placeholder,
.departure-date-field:-ms-input-placeholder {
    font: inherit;
    color: rgba(0, 0, 0, 0.6);
}

.arrival-date-field::-ms-input-placeholder,
.departure-date-field::-ms-input-placeholder {
    font: inherit;
    color: rgba(0, 0, 0, 0.6);
}

.arrival-date-field::placeholder,
.departure-date-field::placeholder {
    font: inherit;
    color:rgba(0, 0, 0, 0.6);
}

.arrival-date::after,
.departure-date::after {
    position: absolute;
    content: "";
    background-image: url("../images/svg/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 16px;
    left: 539px;
    min-width: 16px;
    min-height: 15px;
}

.notification {
    grid-column: 2/-1;
    font-family: inherit;
    padding: 4px 20px 23px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ff5757;
}

.notification-color {
    color:#333;
}

.choose-person {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 137px 110px 88px 131px 111px;
    grid-template-columns: 137px 110px 88px 131px 111px;
}

.field-label {
    line-height: 24px;
    font-size: 20px;
}

.adult {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.choose-adult {
    min-height: 48px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 4px;
    border: none;
}

.choose-child {
    min-height: 48px;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border-radius: 4px;
    border: none;
}

.field-button {
    background-color: #f2f2f2;
    min-width: 40px;
    min-height: 48px;
    border: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
}

.minus {
    border-radius: 4px 0 0 4px;
}

.plus {
    border-radius: 0 4px 4px 0;
}

.field-button:hover svg,
.field-button:focus svg {
    fill: #000;
}

.field-number {
    background-color: #f2f2f2;
    width: 100%;
    border: none;
    min-height: 48px;
    padding: 0;
    text-align: center;
    height: 100%;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    -moz-appearance: textfield;
}

.field-number::-webkit-inner-spin-button,
.field-number::-webkit-outer-spin-button {
    display: none;
}

.search-button {
    margin-top: 48px;
    margin-bottom: 15px;
    grid-column: 1/-1;
    width: 100%;
    min-height: 60px;
    background-color: #83b3d3;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
}

.search-button:hover,
.search-button:focus {
    background: #68a2ca;
    border-radius: 4px;
}

.search-button:active {
    background: #82b3d3;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
    background-color: #e5e5e5;
    color: #fff;
    border-radius: 4px;
}

.plus-svg,
.minus-svg {
    fill: rgba(0, 0, 0, 0.3);
    padding: 0;
    display: block;
}

.tooltip-wrapper {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    max-width: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.child {
    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: inherit;
    text-transform: capitalize;
}

.tooltip {
    position: absolute;
    content: "";
    display: block;
    top: 12px;
    left: calc(100% + 14px);
}

.tooltip-toggle {
    border: none;
    background-color: #83b3d3;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    display: block;
    cursor: pointer;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
    background: #68a2ca;
}

.tooltip-icon {
    display: block;
    margin: auto;
    fill: #fff;
}

.tooltip-text {
    text-align: left;
    vertical-align: center;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: inherit;
    font-weight: normal;
    text-transform: none;
    padding: 18px 18px 26px 22px;
    margin: auto;
    margin-top: 2px;
    border-radius: 10px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
    width: 216px;
    position: absolute;
    top: 39px;
    left: -114px;
    z-index: 1;
    display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}

.tooltip-text::after {
    content: "";
    background-image: url("../images/svg/corner-for-tooltip.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
