@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.woff2")  format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff2")  format("woff2");
    font-display: swap;
}

body{
    font-family: "PT Sans" , Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    width: 1280px;
    background-color:#F2F2F2;
    background-size: cover;
    padding: 0;
    margin: 0  auto;
    outline: 5px solid #333333;
    outline-offset: -3px;
}
.page-container{
    width: 1200px;
    margin: 0 auto;
    background-color:#FFFFFF;
    background-size: cover;
    box-shadow: 0 0 10px 5px rgba(131, 179, 211, 0.12);
}
.visually-hidden{
    display: none;
    margin: 0;
}
.main-header{
    display: flex;
    width: 1200px;
    height: 64px;
}
.navigation-logo{
    margin-left: 70px;
    margin-right: 0;
}
.navigation{
display: flex;
justify-content: space-between;
}
.navigation-page{
    width: 339 px;
    margin:0 0 0 28px;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navigation-link{
    font-size: 20px;
    color:  inherit;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;

}
.navigation-item-main{
    width: 100px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 20px;
}
.navigation-item-information{
    width: 114px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 20px;
}
.navigation-item-hotel{
    width: 125px;
    list-style-type: none;
    margin: 0 auto;
    padding-top: 20px;
}
.navigation-link-current{
    text-decoration: underline;
}
.navigation-user{
    width: 268px;
    margin: 0 70px 0 285px;
    padding: 0;
    display: flex;
}
.navigation-link-find{
    background-image: url("../images/svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 64px;
    list-style-type: none;
    margin: 0;
}
.navigation-link-favourite{
    background-image: url("../images/svg/favorites.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 64px;
    list-style-type: none;
    margin: 0;
}
.navigation-link-want{
    list-style-type: none;
    padding: 0;
    margin: 14px 0;
    background-color: #756157;
    width: 160px;
    border-radius: 4px;


}
.navigation-link-user{
    margin: 0;
}
.want-to-that-place{
    font-size: 16px;
    line-height: 20px;
    text-transform:uppercase;
    text-align: center;
    color:#FFFFFF;
    }


/*!hero-блок*/
.main-hero{
    height: 767px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.banner {
    height: 485px;
    background-image: url("../images/main-part-background.jpg");
    background-color: aquamarine;
    background-repeat: no-repeat;
    position: relative;
}
.banner::after {
    content: url("../images/svg/corners-for-main-background.svg");
    position: absolute;
    height:57px;
    top: 428px;
    left: 0;
    margin-bottom: 0;
}
.banner-text{
    margin-top: 51px;
    margin-left: 371px;
}
.hero-description{
    height: 282px;
    text-align: center;
}
.description-sedona{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 290px;
    padding-top: 69px;
    }
.description-reason-to-visit{
font-weight: 400;
font-size: 22px;
line-height: 26px;
margin-top:25px;
margin-left: 275px;
margin-right: 274px;
margin-bottom: 0;
}
/*!hero-блок end*/
.advantages-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.advantages-item{
    width: 400px;
    height: 384px;
}
.advantages-item:last-child{
    margin-bottom: 0;
}
.advantages-title{
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
margin-bottom: 0;
margin-top: 103px;
margin-left: 112.5px;
margin-right: 112.5px;
align-items: baseline;
width: 175px;
height: 56px;
}
.blue-title{
margin-top: 92px;

}
.advantages-desctiption{
    font-weight: 400;
    margin: 62px 85px 0 85px;
    align-items: baseline;
    width: 230px;
    height: 42px;
}
.blue-description{
    height: 63px;
}
.color{color: #333333;
}
.advantages-picture{
    display: block;
    width:  800px;
    height: 384px;
    object-fit: cover;
}
.recommendation-icon-hotel{
    width: 75px;
    height: 72px;
    background-image: url("../images/svg/house.svg");
    background-size: cover;
    margin-top: 80px;
    margin-bottom: 0;
}
.recommendation-icon-food{
    width: 74px;
    height: 70px;
    background-image: url("../images/svg/food.svg");
    background-size: cover;
    margin-top: 81px;
    margin-bottom: 0;
}
.recommendation-icon-souvenir{
    width: 64px;
    height: 76px;
    background-image: url("../images/svg/gift.svg");
    background-size: cover;
    margin-top: 78px;
    margin-bottom: 0;
}
.recommendation-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.recommendation-item{
    width: 400px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recommendation-title{
    font-size: 24px;
line-height: 28px;
text-transform: uppercase;
width: 230px;
height: 28px;
}
.recommendation-title-hotel{
    margin-top: 30px;
    margin-bottom: 0;
}
.recommendation-title-food{
    margin-top: 31px;
    margin-bottom: 0;
}
.recommendation-title-souvenir{
    margin-top: 28px;
    margin-bottom: 0;
}
.recommendation-desctiption{
    font-weight: 400;
    color: #333333;
    width: 230px;
    height: 63px;
}
.recommendation-desctiption-hotel{
    margin-top: 30px;
    margin-bottom: 0;
}
.recommendation-desctiption-food{
    margin-top: 30px;
    margin-bottom: 0;
}
.recommendation-desctiption-souvenir{
    margin-top: 28px;
    margin-bottom: 0;
}
.blue{
    background: #82B3D3 no-repeat;
    color: #FFFFFF;
}
.light-blue{
    background: rgba(131, 179, 211, 0.12) no-repeat;
}
.not-so-blue{
    background: rgba(131, 179, 211, 0.2) no-repeat;

}

/*!-----subscribe, search------*/
.subscribe-main,.subscribe-inner,.search{
text-align: center;
}
.subscribe-main,.subscribe-inner{
    width:1200px;
    height: 415px;
    background-color: #fff;
}
.search{
    width: 1200px;
    height: 406px;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.searching-hotel,.subscribe-title{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 96px;
    margin: 0 auto;
}
.searching-hotel-offer,.subscribe-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 20px auto 0 auto;
}

.white{
    color: #FFFFFF;
    width: 404px;
    height: 36px;
}
.color-white{
    color: #FFFFFF;
    width: 475px;
    height: 52px;
}
.color-gray{
    color: #333333;
    width: 592px;
    height: 52px;
    margin: 20px auto 0 auto;
}
.black{
    color: #000;
    width: 297px;
    height: 36px;
}
.button-all{
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button-search{
    width: 376px;
    height: 52px;
    background-color: #756157;
    border-radius: 4px;
    margin:54px 412px 0 412px;
}
.subscribe-form{
    width: 684px;
    height: 52px;
    margin: 54px 258px;
    padding: 0;
}

.subscribe-button{
    width: 232px;
    height: 52px;
    background-color: #82B3D3;
    margin: 0;
    padding: 0;
    }
.subscribe-email{
    box-sizing: content-box;
    font-family: inherit;
    width: 452px;
    height: 52px;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
border: 0;
}
.subscribe-email::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}
.subscribe-main{
    background-image: url("../images/background-subscribe.jpg");
    border-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
}
/*!----- end subscribe, search------*/

/*!-----footer-----*/
.social-item-vk{
    background-image: url("../images/svg/VK.svg");
    background-position: center;
    width: 47px;
    height: 40px;
    block-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}
.social-item-tg{
    background-image: url("../images/svg/telegramm.svg");
    background-position: center;
    width: 47px;
    height: 40px;
    block-size: cover;
    background-repeat: no-repeat;
}
.social-item-youtube{
    background-image: url("../images/svg/youtube.svg");
    background-position: center;
    width: 47px;
    height: 40px;
    block-size: cover;
    background-repeat: no-repeat;
}
.contacts{
    width: 1200px;
    height: 120px;
}
.info-connect{
    display: flex;
    justify-content: space-between;
    width: 1060px;
    height: 50px;
    margin: 0 70px 30px 70px;

}
.social-list,.phone-list{
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding: 0;
}
.social-list{
    width: 142px;
    display: flex;
    padding-top: 45px;
    padding-right: 0;
}
.phone-list{
    width: 331px;
    padding-top: 45px;
}
.info-website{
    width: 115px;
    height: 33px;
    list-style-type: none;
    padding: 0;
    padding-top: 48.5px;
    margin: 0;

}
.website-item{
    background-image: url("../images/svg/HTML Academy.svg");
    background-position: center;
    width: 115px;
    height: 33px;
    block-size: cover;
    background-repeat: no-repeat;

}
.phone-number{
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
font-family: "PT Sans" , Arial, sans-serif;
color: #000;
text-decoration: none;
}
/*!-----end footer------*/
/*!------breadcrumbs------*/
.breadcrumbs-filter{
    color: #FFFFFF;
    background-image: url("../images/background-filter.jpg");
    background-size: cover;
    background-color: aquamarine;
    width: 1200px;
    height: 412px;
    margin: 0;
    padding: 0;
}
.breadcrumbs{
    width: 1060px;
    height: 107px;
    padding-top: 35px;
    margin: 0 0 0 70px;
    text-align: center;
}
.breadcrumbs-title{
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    width: 494px;
    height: 78px;
    margin: 0
}
.breadcrumbs-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 114px;
    height: 21px;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;

}
.breadcrumbs-item-house{
    background-image: url("../images/svg/house.svg");
    background-position: center;
    width: 12px;
    height: 12px;
    block-size: cover;
    background-repeat: no-repeat;
    list-style-type: none;
}
.breadcrumbs-item-hotel{
    width: 73px;
    height: 21px;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
}
.current-page{
font-weight: 400;
font-size: 16px;
line-height: 21px;
}
/*!-----end-breadcrumbs------*/
.filter{
    width: 1060px;
    height: 160px;
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 0;

}
.catalog-filter{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.infrastructure-hometype{
    width: 371px;
    height: 157px;
}
.catalog-filter-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.catalog-filter-item,.filter-item{
    width: 150px;
    height: 157px;
    margin: 0;
    padding: 0;
}
.catalog-filter-group{
    margin: 0;
    padding: 0;
}
.price-filter-and-button{
    width: 549px;
    height: 160px;
    margin: 0;
    padding: 0;
}
.filter-list-price{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.filter-item-price{
    width: 288px;
    height: 160px;
    margin: 0;
    padding: 0;
}
.filter-item-button{
    width: 191px;
    height: 104px;
    }
.catalog-filter-title{
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    }
.checkbox,.radio{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}
.priceholder{
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    width: 143px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
}
.priceholder::placeholder{
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.filter-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 191px;
    height: 104px;
}
.apply,.reset{
    width: 191px;
    height: 36px;
}
.hotels{
    width: 1200px;
    height: 1235px;
    background-color: #fff;
}
.amount-hotel,.sort-hotel,.arrange-hotel{
    display: inline-block;
}
.total-number{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    }
.amount{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #000000;
    text-decoration: underline;
}
.sort-hotel{
    width: 292px;
    height: 49px;
}
    .price-view{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    }
.arrange-icon-item{
display: inline-block;
}
.hotel-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.hotel-item{
    width: 340px;
height: 438px;
border: 1px solid #E6E6E6;
border-radius: 4px;
list-style-type: none;
margin-right: 20px;
margin-bottom: 20px;
}
.hotel-name{
    font-size: 24px;
line-height: 28px;
color: #000000;
}
.place,.place-price{
    font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #333333;
}
.more-information{
text-align: center;

}
.button-more-infotmation{
    width: 140px;
    height: 36px;
    background-color: #756157;
    border-radius: 4px;
    float: left;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}
.add{
    width: 140px;
    height: 36px;
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    float: right;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.hotels-raiting{
    width: 140px;
    height: 37px;
    background-color: #F2F2F2;
    border-radius: 4px;
}
.raiting{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}

.pagination-item{
    float:left;
    list-style-type:none;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-right: 8px;
}
.first-page,.unknown{
    background-color: #F2F2F2;
    border-radius: 4px;
}
.next-page{
    background-color: #82B3D3;
    border-radius: 4px;
}
.pagination-link{
    font-size: 20px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}
.pagination-current{
color: #000000;
}
