@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.woff2")  format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/PTSans-Bold.woff2")  format("woff2");
    font-display: swap;
}
html{
    height: 100%;
    background: #E5E5E5;
    background-size: cover;
}
body{
    font-family: "PT Sans", Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    width: 1280px;
    background-color:#F2F2F2;
    background-size: cover;
    padding: 0;
    margin: 0 auto;
    min-height: 100%;

}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
    background-color:#FFFFFF;
    background-size: cover;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.main-container{
    flex-grow: 1;
    min-width: 1060px;
    margin: 0 auto;
}
.visually-hidden{
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*!start-navigation*/
.main-header{
    position: relative;
}
.navigation-logo{
    position: absolute;
    margin-left:70px;
    width: 140px;
    height: 75px;
    z-index: 1;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation-list{
    margin:0;
    padding-left: 238px;
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
}
.navigation-item{
    list-style-type: none;
}
.navigation-link{
    display: flex;
    font-size: 20px;
    color:  inherit;
    text-decoration: none;
    line-height: 24px;
    text-transform: capitalize;
    padding: 20px 16px 20px 16px;
    outline: none;
}
.navigation-item:last-child{
    padding-right: 0;
}
.navigation-link-current{
    position: relative;
}
.navigation-link-current::after{
    position: absolute;
    content:"";
    background-color: #756257;
    height: 2px;
    right: 16px;
    left: 16px;
    top: 60px;
}
.navigation-user{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: end;
    padding-left: 0;
    min-width: 312px;
    padding-right: 70px;
}
.navigation-link-search,.navigation-link-favourite{
    padding: 0;
    display: block;
    position: relative;
    min-width:44px;
    min-height:64px;
    list-style-type: none;
}
.favourite-icon,.search-icon{
    position: absolute;
    padding: 23px 13px 23px 13px;
    cursor: pointer;
    fill:#000;
}
.navigation-item-want{
    display: flex;
    list-style-type: none;
    min-width: 160px;
    min-height: 36px;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #756157;
    border-radius: 4px;
}
.want-to-that-place{
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    text-transform:uppercase;
    padding: 8px 34px;
    color:#FFFFFF;
    outline: none;
    text-decoration: none;
    }
.favourite-icon,.search-icon:{
    fill:#000;
}
.navigation-link:hover{
    background-color:#FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
.navigation-link:focus {
    box-shadow: inset 0 0 0 4px rgba(131, 179, 211, 0.2);
    }
.want-to-that-place:hover,.want-to-that-place:focus{
    background-color: #615048;
    border-radius: 4px;
    }
.want-to-that-place:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    }
.favourite-icon:hover,.search-icon:hover{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
/*!end-navigation*/


/*!hero-блок*/
.main-hero{
    margin: 0;
    padding: 0;
}
.banner {
    height: 485px;
    background-image: url("../images/main-part-background.jpg");
    background-color: aquamarine;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.banner-text{
    padding-top:51px;

}
.banner::after {
    content: url("../images/svg/corners-for-main-background.svg");
    position: absolute;
    height:57px;
    top: 429px;
    left: 0;
    margin-bottom: 0;
}
.banner-text{
    padding-left:371px;
}
.hero-description{
    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 90px;
    text-align: center;
}
.description-sedona{
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 290px 25px 290px;
    }
.description-reason-to-visit{
font-weight: 400;
font-size: 22px;
line-height: 26px;
margin: 0 275px 0 274px;
padding: 0;
}
/*!hero-блок end*/


/*!advanture-blocks*/
.advantages-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.advantages-item{
    width: 400px;
    margin: 0;
    padding: 0;
}
.advanture-wrapper1{
    padding: 92px 85px 111px 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.advanture-wrapper2{
    padding: 103px 85px 121px 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.advantages-picture{
    width: 800px;
}
.sedona_city,.showlace{
    display: block;
    width:  800px;
    height: 384px;
    object-fit: cover;
}
.advantages-title{
    min-width:175px ;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto 62px auto;
    position: relative;
}
.advantages-title:before{
    position: absolute;
    content:"";
    background-color:  rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 2px;
    right: 57.5px;
    left: 57.5px;
    top: 86px;
    margin: auto;
}
.blue-title{
    position: relative;
    }
.blue-title:before{
    position: absolute;
    content:"";
    background-color:  rgba(255, 255, 255, 0.3);
    width: 60px;
    height: 2px;
    right: 57.5px;
    left: 57.5px;
    top: 86px;
    margin: auto;
}
.advantages-desctiption{
    font-weight: 400;
    min-height: 42px;
    margin: 0;
    padding: 0;
    align-items: baseline;
}
.blue-description{
    height: 63px;
}
.color{color: #333333;
}
/*!end advanture-blocks*/


/*!recomendation-blocks*/
.recommendation-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.recommendation-item{
    width: 400px;
    min-height: 384px;
    margin: 0;
    padding: 0;
}
.recommendation-wrapper{
    padding: 182px 85px 81px 85px;
}
.recommendation-title{
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    }
    .recommendation-title-hotel{
    position: relative;
    }
    .recommendation-title-hotel::after{
    position: absolute;
    content: "";
    min-width: 75px;
    min-height: 72px;
    background-image: url("../images/svg/recomendation-house.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 78px;
    bottom: 58px;
    }
.recommendation-title-food{
    position: relative;
}
.recommendation-title-food::after{
    position: absolute;
    content: "";
    min-width: 74px;
    min-height: 70px;
    background-image: url("../images/svg/food.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 78px;
    bottom: 58px;
}
.recommendation-desctiption{
    text-align: center;
    font-weight: 400;
    color: #333333;
    margin: 0;
    padding: 0;
}
.recommendation-title-souvenir{
    position: relative;
}
.recommendation-title-souvenir::after{
    position: absolute;
    content: "";
    min-width: 64px;
    min-height: 76px;
    background-image: url("../images/svg/gift.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: 83px;
    bottom: 57px;
}
.blue{
    background: #82B3D3 no-repeat;
    color: #FFFFFF;
}
.light-blue{
    background: rgba(131, 179, 211, 0.12) no-repeat;
}
.not-so-blue{
    background: rgba(131, 179, 211, 0.2) no-repeat;
}
/*!end recomendation-blocks*/



/*!----- search------*/
.search{
    width: 1200px;
}
.search-wrapper{
    min-width: 592px;
    padding: 96px 304px 96px 304px;
    margin: 0;
    text-align: center;
}
.searching-hotel{
    margin: 0 auto 20px auto;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000;
}
.searching-hotel-offer{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 54px auto;
    color: #333333;
}
.button-search{
    min-width: 376px;
    min-height: 52px;
    background-color: #756157;
    border-radius: 4px;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.button-for-search{
    display: flex;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.button-search:hover,.button-search:focus{
    background-color: #615048;
    border-radius: 4px;
    }
    .button-search:active,.button-for-search:active{
        background-color: #756157;
        color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }




.subscribe-main,.subscribe-inner{
    width: 1200px;
    text-align: center;
}
.subscribe-main{
    background-image: url("../images/background-subscribe.jpg");
    border-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe-wrapper{
    min-width: 684px;
    margin: 0;
    padding: 96px 258px 104px 258px;
}
.subscribe-title{
    margin: 0 auto 20px auto;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subscribe-description{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto 54px auto;
    color: #FFFFFF;
}
.black,.color-black{
    color:#000;
}
.subscribe-form{
    min-width: 684px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
}
.subscribe-button{
    font-family: "PT Sans", Arial,sans-serif;
    min-width: 232px;
    min-height: 52px;
    box-sizing: border-box;
    background-color: #82B3D3;
    border-radius: 0 4px 4px 0;
    margin: 0;
    padding: 8px 50px;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    }
.subscribe-email{
    box-sizing: border-box;
    font-family: inherit;
    min-width: 452px;
    min-height: 52px;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    border: 0;
}
.subscribe-email::placeholder{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    margin: 14px 0 20px 14px;
}
.subscribe-button:hover,.subscribe-button:focus{
    background: #68A2CA;
    border-radius: 4px;
    }
    .subscribe-button:active{
        background: #82B3D3;
        border-radius: 4px;
        color: rgba(255, 255, 255, 0.3);
    }
/*!----- end subscribe, search------*/

/*!-----footer-----*/
.contacts{
    width: 1200px;
    min-height: 120px;
}
.info-connect{
    display: flex;
    width: 1060px;
    min-height: 50px;
    padding: 40px 70px 30px 70px;
}
.social-list,.phone-list,.info-website{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-list{
    min-width: 240px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 138.5px;
}
.social-item-vk,.social-item-tg,.social-item-youtube{
    width: 47.33px;
    height: 40px;
    padding-top:5px;
}
.footer-button-vk,.footer-button-tg,.footer-button-youtube{
    position: relative;
}
.vk,.tg,.youtube{
    position: absolute;
    content: "";
    fill:#83B3D3;
    top:13px;
    left: 12px;
    right:50%;
    bottom:0;
}
.vk:hover,.tg:hover,.youtube:hover,.vk:focus,.tg:focus,.youtube:focus{
    fill: #68A2CA;
    }
.vk:active,.tg:active,.youtube:active{
        fill:rgba(104, 162, 202, 0.3);
    }
.phone-list{
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 115.5px;
    align-items: center;
}
.phone-number{
    position: relative;
}
.number{
    fill: #000;
    position: absolute;
    content: "";
    top: 7px;
    left:1px;
    right:0;
    bottom:0;
    margin: auto;
}
.number:hover,.number:focus{
    fill: #756157;
    }
    .number:active{
    fill: rgba(117, 97, 87, 0.3);
    }
.website-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.website-item{
    min-width: 115px;
    margin: 0;
    padding: 0;
}
.footer-logotype{
    position: relative;
}
.website{
    position: absolute;
    content: "";
    top:8px;
    left:0;
    right:5px;
    bottom:15px;
    margin: 0 auto;
    fill:#000;
}

.website:hover,.website:focus{
    fill: #756157;
    }
    .website:active{
    fill: rgba(117, 97, 87, 0.3);
    }

/*!-----end footer------*/
/*!             хлебные крошки                    */
.filter{
    color: #FFFFFF;
    background: url("../images/background-filter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aquamarine;
    margin: 0;
    padding: 35px 70px 70px 70px;
}
.breadcrumbs{
    margin-bottom: 40px;
}
.breadcrumbs-title{
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.breadcrumbs-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom:40px;
    list-style-type: none;
    height: 21px;
}
.breadcrumbs-item-house{
    min-width: 13px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left:28.5px;
    position: relative;
}
.breadcrumbs-item-house:after {
    position: absolute;
    content: url("../images/svg/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 0 px;
    left: -5px;
}
.house{
    position: absolute;
    content: "";
    top:-2px;
    left:-54px;
    right:0;
    bottom:0;
    margin: auto;
    fill:#FFFFFF;
}
.main-page-link:hover,.house:hover,.main-page-link:active,.house:active{
    color: rgba(255, 255, 255, 0.6);
    fill: rgba(255, 255, 255, 0.6);
    }
.breadcrumbs-current-page{
font-weight: 400;
font-size: 16px;
line-height: 21px;
}
/*!-----end-breadcrumbs------*/
.filter-hotel{
    margin-bottom: 0;
}
.catalog-filter{
    display: grid;
    grid-template-columns: 150.43px 70px 150.43px 140.15px 288px 70px 191px;
    height: 160px;
}
.catalog-filter-facilities{
    grid-column:1/2;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.catalog-filter-house{
    grid-column: 3/4;
}
.filter-price-hotel{
    grid-column: 5/6;
}
.filter-button-hotel{
    grid-column: 7/8;
}
.catalog-filter-group{
    border:0;
    margin: 0;
    padding: 0;
    min-width: 150.43px;
}
.catalog-filter-title{
    min-width:150.43px;
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 32px 0;
    text-transform: capitalize;
}
.checkbox,.radio{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}
.checkbox-last,.radio-last{
    margin-bottom: 0;
}
.label-checkbox,.radio-checkbox{
    padding-left: 16px;
}
.price-filter-and-button{
    margin: 0;
    padding: 0;
    min-width: 549px;
}
.priceholder{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: top;
    margin-bottom: 36px;
}
.priceholder-from,.priceholder-to{
    width: 143px;
    height: 48px;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
}
.priceholder::placeholder{
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.range{
    margin: 0;
    padding: 0
;}

.filter-button{
    border: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.filter-button-title{
    margin: 0;
    padding: 0;
}
.apply,.reset{
    font-family: "PT Sans", Arial,sans-serif;
    min-height: 36px;
    min-width: 191px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.apply{
    background: #82B3D3;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0;
    margin: 57px 0 30px 0;
    text-transform: uppercase;
}
.apply:hover{
    background: #68A2CA;
}
.apply:focus{
    background: #68A2CA;
    outline: 1px #82B3D3 solid;
    }
    .apply:active{
        background: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
    }
    .apply:disabled{
        background: #E5E5E5;
        color:#FFFFFF;
    }
.reset{
    background-color:transparent ;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 0;
}
.reset:hover{
    color:#FFFFFF;
    opacity: 0.5;
}
.reset:focus{
    border-radius: 8px;
    outline: 1px #82B3D3 solid;
    }
    .reset:active{
        color: rgba(255, 255, 255, 0.3);
    }
    .reset:disabled{
        color:#FFFFFF;
        opacity: 0.1;
    }

/* !          сортировка карточек            */
.arrange-cards{
    padding: 50px 70px 40px 70px;
    min-height: 49px;
    display: flex;
    flex-wrap: wrap;
}
.amount-hotel{
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    align-self: center;
    }
.total-number{
    margin: 0;
}
.sorting-price-level{
    min-height: 49px;
    margin-left: 200px;
    display: inline-block;
}
    .price-view{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    min-width: 292px;
    min-height: 49px;
    box-sizing: border-box;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
    }
.price-view:hover,.price-view:focus{
    outline: 1px #82B3D3 solid;
    }
.price-view:active{
    outline: 1px #000 solid;
    }
.price-view:disabled{
    color: rgba(0, 0, 0, 0.3);
    outline: 1px rgba(0, 0, 0, 0.3) solid;
    }
    .sorting-list{
    min-width: 160px;
    min-height: 48px;
    margin-left: 70px;
    margin:0 0 0 70px;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: top;
    }
.list-order{
border-radius: 4px;
border:1px rgba(0, 0, 0, 0.3) solid;
box-sizing: border-box;
width: 48px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}
.chessboard,.one-card,.single-column{
fill: #000;
}
.list-order:hover,.list-order:active{
    border:1px #000 solid;
}
.list-order:focus{
    border:1px #82B3D3 solid;
}


/*!             карточки отелей                  */
.cards{
    padding: 0 70px 40px 70px;
}
.hotel-list{
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap:18px 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.hotel-item{
    display: flex;
    flex-direction: column;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    box-sizing: border-box;
}
.hotel-image{
    display: block;
    margin: 20px 20px 16px 20px;
    object-fit: cover;
}
.hotel-name{
    margin: 0 20px 16px  20px;
}
.hotel-name-link{
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
}
.hotel-price{
    margin: 0 20px 16px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.hotel-place,.hotel-place-price{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.more-information{
    margin: 0 20px 16px 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.button-more-infotmation{
    font-family: "PT Sans", Arial,sans-serif;
    min-width: 140px;
    min-height: 36px;
    background-color: #756157;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-more-infotmation:hover{
    background-color: #615048;
    border-radius: 4px;}
.button-more-infotmation:focus{
    background-color: #615048;
    border-radius: 4px;
    outline: rgba(0, 0, 0, 0.3);
    }
.button-more-infotmation:active{
    background-color: #756157;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    }
.add{
    font-family: "PT Sans", Arial,sans-serif;
    min-width: 140px;
    min-height: 36px;
    background-color: #82B3D3;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    border:0;
    cursor: pointer;
}
.green-button{
    border-color: #7DB54F;
}
.add:hover{
        background: #68A2CA;
    }
.add:focus{
        background: #68A2CA;
        outline: 1px #82B3D3 solid;
        }
.add:active{
        background: #82B3D3;
        color: rgba(255, 255, 255, 0.3);
        }
.add:disabled{
    background: #E5E5E5;
    color:#FFFFFF;
    }
.green-button:hover{
        background: #6C9E42;
    }
.green-button:focus{
        background: #6C9E42;
        outline: 1px #486a2d solid;
        }
.green-button:active{
        background: #7DB54F;
        color: rgba(255, 255, 255, 0.3);
        }
.green-button:disabled{
        background: #E5E5E5;
        color:#FFFFFF;
        }
.hotels-rating{
    margin: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.stars{
    display: block;
    height: 17px;
    background:url("../images/svg/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin: 0;
    align-self: center;
}
.stars-hotel1{
    width: 89px;
}
.stars-hotel2{
    width: 89px;
}
.stars-hotel3{
    width: 65px;
}
.stars-hotel4{
    width: 40px;
}
.point-rating{
    width: 140px;
    height: 37px;
    background: #F2F2F2;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* !---------pagination-----------*/
.pagination{
    padding: 40px 70px 60px 70px;
}
.pagination-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type:none;
    position: relative;
}
.pagination-list::after{
    position: absolute;
    content:"";
    background-color:#E6E6E6;
    height:1px;
    top: 0;
    right:0;
    left:0;
    bottom:141px;
    margin: auto;
    }
.pagination-item{
    margin-right: 8px;
    display: flex;
}
.first-page{
    background-color: #F2F2F2;
    color:#000;
    border-radius: 4px;
}
.next-page{
    background-color: #82B3D3;
    border-radius: 4px;
}
.pagination-link{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    min-height: 60px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.current-page,.list-pages{
    color: #000000;
}
.unknown{
margin-top: auto;}
.link:hover,.link:focus{
    background-color: #68A2CA;
    outline: 1px #82B3D3 solid;
    }
    .link:active{
    background: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
    }
